<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/content/css/login.css">
</head>
<body id="LoginForm">    
  <div class="container">
   
    <div class="login-form">
      <div class="main-div">
      
        <div class="panel">
          <h2>Sober Login</h2>
          <p>Please use your Uber account to login</p>
         </div>
        
       <form id="Login" action="/login" method="post"  >
          <button type="submit" class="btn btn-primary" style="cursor:pointer">Login with Uber</button>
        </form>
        </div>
    
    </div>
  </div>   
   
</body>
</html>